__pycache__/
*~
\#*\#
.\#*

# Ignore compiled files
*.o
*.vvp
*.vcd
*.out
*.log

# Ignore simulation tool temporary files
work/
*.sim
*.fsdb
*.wlf
*.ini

# Ignore Vivado/Quartus/ModelSim/other tool folders
.sim/
*.jou
*.pb
*.runs/
*.cache/
*.webtalk/
*.xpr
*.qpf
*.qsf
*.rpt

# Ignore system files
.DS_Store
*.swp
*.bak
*.tmp
